name: Abstract Factory

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: 10.0.x

      - name: Restore
        run: dotnet restore src/AbstractFactory/AbstractFactory.csproj

      - name: Build
        run: dotnet build src/AbstractFactory/AbstractFactory.csproj --no-restore --configuration Release
